<html>
	<head><head>
	<body>
		<p>
			The secret number is: <%= message %>
		</p>
		<form>
			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
		<p>
			response: <%= response %>
		</p>
	</body>
<html>